@model PersonalWeb.Models.SettingWeb

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("HeaderPartial")

@Html.Partial("PopupMobilePartial")

<main class="main-page-wrapper">

    @Html.Partial("SliderPartial")

    @Html.Partial("ExperiencePartial")

    @Html.Partial("EducationPartial")

    @Html.Partial("ResumePartial")

    @Html.Action("PortfolioPartial")

    @Html.Action("BlogPartial")

    @Html.Partial("ContactPartial")

    <!-- Back to  top Start -->
    <div class="backto-top">
        <div>
            <i data-feather="arrow-up"></i>
        </div>
    </div>
    <!-- Back to top end -->

</main>

@Html.Partial("FooterPartial")
